---
---

// add bootstrap variable settings here

@import 'bootstrap';


// add more css stuff here

body {
  padding-top: 50px;
}

.content {
  padding: 40px 15px;
}


// lower the menu row to give more space around the picture
.navbar-nav > li > a {
  padding-top: 22px;
}
